<html>
<head>
<meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<meta http-equiv="X-UA-Compatible" content="ie=edge"> 
<title>노아 토이 프로젝트 1집</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
</style>

</head>
<body>

<div class="container">
    <br />
    <br />
    <center> <h1> 노아의 토이 프로젝트 1집 (Onboarding Project) </h1> </center> 
    <hr />
    <br />

    <img 
        src="http://pds6.egloos.com/pds/200712/12/43/d0046543_475fc5d1e349a.jpg" 
        class="center"
        width="20%"
    />
    <center>가수 토이?</center>
    <br />
    <br />
    <br />
    <center>
        <a href="/persons"> 
            <button type="button" class="btn btn-success btn-lg">시작하기</button>
        </a>
    </center>
    <br />
    <br />
    <br />
    <div>
       <p> 
            <p class="font-weight-bold"> Tech Stack (Dev env) <p/>  
            - MAC OS (처음 써보는데 신세계!) <br />
            - Naver Cloud Platform(Mini Server) (AWS Free Tier 기간이 지나서.. ) <br />
            - Docker(19.03.8) (처음써보는데 엄청 편리합니다.)<br />
            - Gin-GO, Go(1.14.4) (처음써보는데 node.js 비슷한 느낌이였습니다.) <br />
            - MySQL(8.0.19) <br />
            - HTML, CSS, JS (Backend만 집중해서... 허접합니다) <br />
        </p>
        <br />
            <p> 
                <p class="font-weight-bold"> 무엇을 공부한 프로젝트인가요? <p/>
                - Go, Gin-go의 기본적인 이해  <br />
                - Go의 json 값을 Web FE에서 처리하는 방법에 대한 이해  <br />
                - Go에 MySQL을 이용한 CRUD 작업 <br />
                - 리눅스 인스턴스에서 Go 및 Docker 배포 환경 구성 하는 방법에 대한 이해  <br />
                - Docker를 이용한 Go 프로젝트를 클라우드에 배포  <br />
                - Docker Hub를 이용한 도커 이미지 관리 <br />
            </p> 
        <br />
            <p>
                <p class="font-weight-bold"> 앞으로 공부해야하는 것은? <p/>
                <p> 
                    - Jenkins을 이용한 Docker 이미지 자동 배포  <br />
                    - Load Balancer 사용 및 트래픽 테스트코드 작성 <br />
                    - AWS Lambda 사용해보기 <br />
                    - Kubernetes를 사용해보기 <br />
                    - Gin-Go MSA 설계 <br />
                </p>
            </p>
        <br />
        <br />


        <div style="float: center"> 
            <p>
                <center>
                <img
                    src="https://dimg.donga.com/wps/NEWS/IMAGE/2017/01/14/82372425.2.jpg"
                    width="100px"
                />
                + 👨‍💻 = 🧡
                </center>
            </p>
            <br />
        </div> 

    </div>
</div>

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>