<html>
<head>
<meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<meta http-equiv="X-UA-Compatible" content="ie=edge"> 
<title>노아 미니 프로젝트 1집</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<style>
img.infinite_rotating_logo{
    animation: rotate_image 2s linear infinite;
    transform-origin: 50% 50%;
}
 
@keyframes rotate_image{
	100% {
    	transform: rotate(360deg);
    }
}
</style>
</head>

<body>

<div class="container">
  <br />
  	<div class="jumbotron">
	  <h1>누가 범인일까요?</h1>
	  <p> 누군가 책상위의 바나나를 먹었습니다.😥😥 범인일 것 같은 사람을 선택해 주세요! </p>
	</div>
  <br />
  
  <div class="col-lg-9">
    <h1>  {{ .count }} 명의 용의자 중에서 {{ .message }}</h1>
    <hr />
    
    <br />
      * 순서는 닉네임을 알파벳순 정렬하였습니다. <br />
      * 범인은 GO서버에서 난수로 생성하며, 서버 재시작시 정답이 바뀝니다. <br />
      * 각 세선에 대해서 개별 DB를 부여해야하는데 아직 여기까지 공부하지 않아서, DELETE기능은 로컬에서만 테스트하고 Cloud Server에서는 제하였습니다.  
    <br />
    <br />
    <br />

    <br />
    <form action="/next" method="POST"> 
      {{ range .result }}
          <img src={{ .ImgUrl }} width="120px" class="infinite_rotating_logo" /> 
          <input type="radio" name="member" value="{{ .Id }}"  /> {{ .Name }}
      {{ end }}
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <input type="submit" value="범인이다!" class="btn btn-primary" />
    </form> 
    </div>
</div>

</body>
</html>
